#修改TNAME: K2P-5.0 中的K2P-5.0为你需要编译的型号，注意名称要与configs/templates/目录下的名字相同
name: Build Padavan

on: 
  release:
    types: [published]
  push:
    tags:
    - 'v*'
  #  branches: 
  #    - master
#  schedule:
#    - cron: 0 8 * * 5
  watch:
    types: [started]

jobs:
  build:
    runs-on: ubuntu-20.04
    if: github.event.repository.owner.id == github.event.sender.id

    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Initialization environment
        run: |
          sudo apt update
          sudo apt install libtool-bin gperf python-docutils autopoint gettext
      - name: Clone source code
        run: |
          git clone --depth=1 https://github.com/hanwckf/rt-n56u.git /opt/rt-n56u
          sh /opt/rt-n56u/trunk/tools/shellcheck.sh
          cd /opt/rt-n56u/toolchain-mipsel
          sh dl_toolchain.sh
      - name: Build Firmware
        env:
          TNAME: PSG1218
        run: |
          mv ngrok /opt/rt-n56u/trunk/user
          git clone --depth 1 -b master https://github.com/dosgo/ngrok-c /opt/rt-n56u/trunk/user/ngrok/ngrok-c
          sed -i 's/busybox/busybox\ndir_$(CONFIG_FIRMWARE_INCLUDE_NGROK)            += ngrok/' /opt/rt-n56u/trunk/user/Makefile
          sed -i 's/CONFIG_FIRMWARE_INCLUDE_SCUTCLIENT=y/CONFIG_FIRMWARE_INCLUDE_SCUTCLIENT=n/g' /opt/rt-n56u/trunkconfigs/templates/$TNAME.config
          sed -i 's/CONFIG_FIRMWARE_INCLUDE_MENTOHUST=y/CONFIG_FIRMWARE_INCLUDE_MENTOHUST=n/g' /opt/rt-n56u/trunkconfigs/templates/$TNAME.config
          echo '' >> /opt/rt-n56u/trunkconfigs/templates/$TNAME.config
          echo 'CONFIG_FIRMWARE_INCLUDE_NGROK=y' >> /opt/rt-n56u/trunkconfigs/templates/$TNAME.config
          cd /opt/rt-n56u/trunk
          #sudo ./clear_tree_simple
          sudo ./build_firmware_modify $TNAME
          mkdir -p /opt/images/
          sudo mv -f images/*.trx /opt/images/
      - name : Upload packages
        uses: actions/upload-artifact@master
        if: always()
        with:
          name: Padavan-packages
          path: /opt/images
